/* Grid */

.day-weth {
  display: flex;
  gap: 42px;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.five-temp {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.five-Day {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

.five-img {
  width: 40px;
  height: 60px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1400px) {
  .day-weth {
    justify-content: center;
  }
}
