.container {
  height: 100%;
  padding: 63px 80px;
  width: 100%;
  background: linear-gradient(
    130.48deg,
    rgb(56, 56, 56) 0%,
    rgba(158, 158, 158, 0) 120.819%
  );
}

.city {
  display: flex;
  gap: 55px;
  max-width: 100%;
  margin: 0 auto;
}

.days-hours {
  display: flex;
  gap: 61px;
  max-width: 100%;
  margin: 49px auto;
}

@media (max-width: 1400px) {
  .city {
    flex-direction: column;
  }

  .days-hours {
    flex-direction: column;
  }
}
